* {
  font-family: "FastFont";
  src: url("Fast_Sans.ttf") format("opentype");
  font-display: swap;
  }
  
  body {
      background: #3c9a74;
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
  }
  
  h3 {
    text-align: center;
    font-size: 30px;
  }
  
  .logo {
    width: 20%;
  }
  
  nav {
    background-color: white; 
    padding: 10px;
    position: sticky;
    color: black;
  }
  
  
  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
  }
  
  nav ul li {
      margin: 0 15px;
      position: relative;
  }
  
  nav ul li a {
      color: black;
      text-decoration: none;
  }
  
  nav ul li ul.dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      padding: 1rem;
      list-style: none;
  }
  
  nav ul li:hover ul.dropdown,
  nav ul li a[aria-expanded="true"] + ul.dropdown {
      display: block;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_links{
    display: flex; 
    justify-content: center; 
    align-items: center;
    list-style: none;
    color: rgb(202, 241, 253);
    background-color: none;
  }
  
  li {
    margin-right: 2rem;
    text-wrap: nowrap;
  }
  
  p {
    text-align: center;
  }
  
  .user-details {
      margin: 5px auto 0;
      padding: 5px 35px;
      width: 90%;
      max-width: 600px;
      color: #000000;
      text-align: center;
  }
  
  .input-box {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      border: none;
      border-radius: 6px;
      font-size: 13px;
  }
  
  input {
    background-color: white;
    width:70%;
  }
  
  .details {
    margin: 10px;
  }
  
  ul {
    margin: 10px 20px;
  }
  
  button {
    background: black;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    margin: 30px auto;
    cursor: pointer;
    transition: opacity 150ms ease;
  }
  
  @media only screen and (max-width: 600px) {
    .logo {
      max-width: 50%;
    }
  }
  
  .darktheme {
    background-color: darkgrey;
    color: white;
  }
  
  .button-size {
    text-align: center;
    margin-bottom: 10px;
  }
  
  span {
    color: red;
  }

  .info-container {
    background: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }

  .map {
    display: block;
    text-align: center;
    margin: 50px;
    padding: 10px;
  }

  footer{
    font-size: 14px; 
    color: rgb(255, 255, 255);
    border-top: 1px solid #d4ebf4;
    padding: 20px 0;
    text-align: center;
    margin: 20px;
}